

body{
    background-image: url(https://marketplace.canva.com/EAFsxtB6cxM/2/0/1600w/canva-blue-night-sky-cute-whale-desktop-wallpaper-Z3o7FZeI-Ms.jpg);
    background-repeat: no-repeat;
	background-position: center;
    background-size: contain;
    background-color: lightblue;
}