body {
  margin: 0px;
}

canvas {
  background-image: url(https://www.shutterstock.com/image-vector/vector-empty-nature-landscape-illustration-600nw-2534319987.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  margin: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(42, 124, 42);
  border-radius: 20px;

}

img {
  display: none;
}